/**
 *
 * {{ properCase name }}
 *
 */

import React from 'react';
import PropTypes from 'prop-types';
import { FormattedHTMLMessage } from 'react-intl';
import messages from './messages';
import * as apiCalls from './apiCalls';
import connectApiCalls from 'utils/helperFunctions/connectApiCalls';

const container = '{{ camelCase name }}';

export const {{ properCase name }} = (props) =>  {
  console.log(props);
  return (
    <div>
      <FormattedHTMLMessage {...messages.header} />
    </div>
  );
}

{{ properCase name }}.propTypes = {
  getConfig: PropTypes.object.isRequired,
};

export default connectApiCalls({
  container,
  apiCalls,
})({{ properCase name }});